<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to public/index.php for all requests except existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
